<div class="kui-flex-wrap">
  <style>
    .txt-padding {
      font-size: 13px;
      margin-bottom:10px;
    }
  </style>
  <div class="kai-container" style="padding:5px;">
    <h5>Controls:</h5>
    <div class="txt-padding" style="margin-bottom:0px;">- <b>A</b> to Jump</div>
    <div class="txt-padding">- <b>B</b> to Attack</div>

    <h5>Introduction</h5>
    <div class="txt-padding">The Princess has to escape from the Royal Castle killing Aznar clones, Captain Zurrapa and other deadly enemies avoiding spikes everywhere! Help her get her crown back!</div>

    <div class="txt-padding">The game can be beaten! This is the most important one :)</div>
    <div class="txt-padding">The game includes two complete levels with enemies that can kill you. Beware!</div>
    <div class="txt-padding">The princess can slaughter her enemies with a giant axe.</div>
    <div class="txt-padding">Levels have checkpoints</div>
    <div class="txt-padding">The game is a really hardcore classic platformer, with some difficult jumps. It can be quite enjoyable for speedrun fans and for nostalgic game boy aficionados.</div>

    <h5>Credit:</h5>
    <div class="txt-padding" style="margin:0;">- <b>Code</b>: Zalo(https://twitter.com/Zal0)</div>
    <div class="txt-padding" style="margin:0;">- <b>Art and Music</b>: Sergeeo</div>
    <div class="txt-padding">- <b>Source code</b>: https://github.com/Zal0/Pretty-Princess-Castle-Escape</div>
  </div>
</div>
