<div class="kui-flex-wrap">
  <style>
    .txt-padding {
      font-size: 13px;
      margin-bottom:10px;
    }
  </style>
  <div class="kai-container" style="padding:5px;">
    <h5>Controls:</h5>
    <div class="txt-padding" style="margin-bottom:0px;">- <b>Start</b> to Start/Skip</div>
    <div class="txt-padding" style="margin-bottom:0px;">- <b>A</b> to Jump</div>
    <div class="txt-padding" style="margin-bottom:0px;">- <b>B</b> to Attack</div>
    <div class="txt-padding" style="margin-bottom:0px;">- <b>Left/Right</b> to select stage</div>
    <div class="txt-padding">- <b>Start</b> button only works for Start/Skip the game</div>

    <h5>Introduction</h5>
    <div class="txt-padding">The evil Lord Zurrapa has stolen the kingdom's crown and now our Super Princess has to take it back! Unveil the secrets of the maze, kill all enemies and bring the glory back to the country!!</div>

    <h5>Credit:</h5>
    <div class="txt-padding" style="margin:0;">- <b>Code</b>: Zalo(https://twitter.com/Zal0)</div>
    <div class="txt-padding" style="margin:0;">- <b>Art and Music</b>: Sergeeo</div>
    <div class="txt-padding">- <b>Source code</b>: https://github.com/Zal0/Super-Princess-2092-Exodus</div>
  </div>
</div>
