<div class="kui-flex-wrap">
  <style>
    .txt-padding {
      font-size: 13px;
      margin-bottom:10px;
    }
  </style>
  <div class="kai-container" style="padding:5px;">
    <h5>Controls:</h5>
    <div class="txt-padding">- <b>Start</b> button only works on main screen or to restart the game after game-over</div>

    <h5>Introduction:</h5>
    <div class="txt-padding">Player must smash a wall of bricks by deflecting a bouncing ball with a paddle. The paddle may move horizontally and is controlled with ArrowLeft or ArrowRight. The player gets 5 lives to start with; a life is lost if the ball hits the bottom of the screen.</div>
    
    <h5>Credit:</h5>
    <div class="txt-padding" style="margin:0;">- <b>By</b>: Stéphane Hockenhull</div>
    <div class="txt-padding">- <b>ROM Link</b>: https://rv6502.ca/post/2012/01/26/brickster-for-game-boy-color/</div>
  </div>
</div>
